In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
#csv file
df = pd.read_csv('imdb_top_1000.csv')

In [3]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
df.tail()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [5]:
df.shape

(1000, 16)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

AttributeError: 'str' object has no attribute 'remove'

In [ ]:
# Null values

# Ceritificate 
# Meta score
# Gross

In [9]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [17]:
df['Certificate'].value_counts()
#101 null values can be imputed through mode

U           234
A           197
UA          175
R           146
PG-13        43
PG           37
Passed       34
G            12
Approved     11
TV-PG         3
GP            2
TV-14         1
TV-MA         1
U/A           1
16            1
Unrated       1
Name: Certificate, dtype: int64

In [18]:
df['Meta_score'].value_counts()
#157 null values

76.0    32
84.0    29
90.0    29
80.0    27
73.0    27
        ..
28.0     1
30.0     1
36.0     1
46.0     1
41.0     1
Name: Meta_score, Length: 63, dtype: int64

In [19]:
df['Gross'].value_counts()
#169 null values

4,360,000      5
5,450,000      2
5,321,508      2
25,000,000     2
9,600,000      2
              ..
26,331         1
515,905        1
193,817        1
5,720,000      1
380,843,261    1
Name: Gross, Length: 823, dtype: int64

In [7]:
df.duplicated().sum() #no duplicated values

0

In [ ]:
#json file

In [8]:
df1 = pd.read_json('imdb_data.json')

In [10]:
df1.head()

,id,original_title,year,date_published,genre,duration,country,avg_vote,votes,production_company
0,0,Miss Jerry,1894,09-10-1894,Romance,45,USA,5.9,154,Alexander Black Photoplays
1,1,The Story of the Kelly Gang,1906,26-12-1906,"Biography, Crime, Drama",70,Australia,6.1,589,J. and N. Tait
2,2,Den sorte drøm,1911,19-08-1911,Drama,53,"Germany, Denmark",5.8,188,Fotorama
3,3,Cleopatra,1912,13-11-1912,"Drama, History",100,USA,5.2,446,Helen Gardner Picture Players
4,4,L'Inferno,1911,06-03-1911,"Adventure, Drama, Fantasy",68,Italy,7.0,2237,Milano Film

In [12]:
df1.tail()

,id,original_title,year,date_published,genre,duration,country,avg_vote,votes,production_company
85850,85850,Le lion,2020,29-01-2020,Comedy,95,"France, Belgium",5.3,398,Monkey Pack Films
85851,85851,De Beentjes van Sint-Hildegard,2020,13-02-2020,"Comedy, Drama",103,Netherlands,7.7,724,Johan Nijenhuis & Co
85852,85852,Padmavyuhathile Abhimanyu,2019,08-03-2019,Drama,130,India,7.9,265,RMCC Productions
85853,85853,Sokagin Çocuklari,2019,15-03-2019,"Drama, Family",98,Turkey,6.4,194,Gizem Ajans
85854,85854,La vida sense la Sara Amat,2019,05-02-2020,Drama,74,Spain,6.7,102,La Xarxa de Comunicació Local

In [13]:
df1.shape   
#df has 16 columns

(85855, 10)

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  85855 non-null  int64
 1   original_title      85855 non-null  object
 2   year                85855 non-null  object
 3   date_published      85855 non-null  object
 4   genre               85855 non-null  object
 5   duration            85855 non-null  int64
 6   country             85855 non-null  object
 7   avg_vote            85855 non-null  float64
 8   votes               85855 non-null  int64
 9   production_company  85855 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 6.6+ MB

In [15]:
df1.duplicated().sum()

0

In [32]:
df1.isnull().sum() #no null

Series_Title          0
Released_Year         0
date_published        0
Genre                 0
Runtime               0
country               0
avg_vote              0
No_of_Votes           0
production_company    0
dtype: int64

### Common columns in both Dataframe and Bad Data imputation:

1. original title(series_title), 
2. released year (year), 
3. duration(runtime), 
4. genre (Genre), 
5. No_of_votes (votes)

In [18]:
#removing extra column 
#we can keep it there as well beacuse untimately we would be focusing on common clumns
df1.drop(['id'],axis=1,inplace=True)

In [23]:
#renaming the common columns to map them 
df1.rename(columns={'original_title':'Series_Title','year':'Released_Year',
                   'duration': 'Runtime', 
                   'genre':'Genre',
                  'votes':'No_of_Votes'},inplace=True)

In [27]:
df.dtypes
#Bad Data: 
#released year marked as object 
#Runtime marked as object

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [33]:
#runtime 
df['Runtime'].unique()

array(['142 min', '175 min', '152 min', '202 min', '96 min', '201 min',
       '154 min', '195 min', '148 min', '139 min', '178 min', '161 min',
       '179 min', '136 min', '146 min', '124 min', '133 min', '160 min',
       '132 min', '153 min', '169 min', '130 min', '125 min', '189 min',
       '116 min', '127 min', '118 min', '121 min', '207 min', '122 min',
       '106 min', '112 min', '151 min', '150 min', '155 min', '119 min',
       '110 min', '88 min', '137 min', '89 min', '165 min', '109 min',
       '102 min', '87 min', '126 min', '147 min', '117 min', '181 min',
       '149 min', '105 min', '164 min', '170 min', '98 min', '101 min',
       '113 min', '134 min', '229 min', '115 min', '143 min', '95 min',
       '104 min', '123 min', '131 min', '108 min', '81 min', '99 min',
       '114 min', '129 min', '228 min', '128 min', '103 min', '107 min',
       '68 min', '138 min', '156 min', '167 min', '163 min', '186 min',
       '321 min', '135 min', '140 min', '180 min', '158 min', '210 min',
       '86 min', '162 min', '177 min', '204 min', '91 min', '172 min',
       '45 min', '145 min', '100 min', '196 min', '93 min', '120 min',
       '92 min', '144 min', '80 min', '183 min', '111 min', '141 min',
       '224 min', '171 min', '188 min', '94 min', '185 min', '85 min',
       '205 min', '212 min', '238 min', '72 min', '67 min', '76 min',
       '159 min', '83 min', '90 min', '84 min', '191 min', '197 min',
       '174 min', '97 min', '75 min', '157 min', '209 min', '82 min',
       '220 min', '64 min', '184 min', '168 min', '166 min', '192 min',
       '194 min', '193 min', '69 min', '70 min', '242 min', '79 min',
       '71 min', '78 min'], dtype=object)

In [42]:
df['Runtime'] = df['Runtime'].str.replace('min','')
df['Runtime'] = df['Runtime'].astype(int)

In [48]:
df['Runtime'].unique()

array([142, 175, 152, 202,  96, 201, 154, 195, 148, 139, 178, 161, 179,
       136, 146, 124, 133, 160, 132, 153, 169, 130, 125, 189, 116, 127,
       118, 121, 207, 122, 106, 112, 151, 150, 155, 119, 110,  88, 137,
        89, 165, 109, 102,  87, 126, 147, 117, 181, 149, 105, 164, 170,
        98, 101, 113, 134, 229, 115, 143,  95, 104, 123, 131, 108,  81,
        99, 114, 129, 228, 128, 103, 107,  68, 138, 156, 167, 163, 186,
       321, 135, 140, 180, 158, 210,  86, 162, 177, 204,  91, 172,  45,
       145, 100, 196,  93, 120,  92, 144,  80, 183, 111, 141, 224, 171,
       188,  94, 185,  85, 205, 212, 238,  72,  67,  76, 159,  83,  90,
        84, 191, 197, 174,  97,  75, 157, 209,  82, 220,  64, 184, 168,
       166, 192, 194, 193,  69,  70, 242,  79,  71,  78])

In [35]:
#released year
df['Released_Year'].unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

In [36]:
df[df['Released_Year']=='PG']
#We can replace it through google search

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [58]:
#replace 
df['Released_Year']=df['Released_Year'].replace('PG',1995)
df['Released_Year'] = df['Released_Year'].astype(int)

In [28]:
df1.dtypes
#Released year object

Series_Title           object
Released_Year          object
date_published         object
Genre                  object
Runtime                 int64
country                object
avg_vote              float64
No_of_Votes             int64
production_company     object
dtype: object

In [31]:
df1['Released_Year'].unique()

array(['1894', '1906', '1911', '1912', '1919', '1913', '1914', '1915',
       '1916', '1917', '1918', '1920', '1921', '1924', '1922', '1923',
       '1925', '1926', '1935', '1927', '1928', '1983', '1929', '1930',
       '1932', '1931', '1937', '1938', '1933', '1934', '1936', '1940',
       '1939', '1942', '1943', '1941', '1948', '1944', '2001', '1946',
       '1945', '1947', '1973', '1949', '1950', '1952', '1951', '1962',
       '1953', '1954', '1955', '1961', '1956', '1958', '1957', '1959',
       '1960', '1963', '1965', '1971', '1964', '1966', '1968', '1967',
       '1969', '1976', '1970', '1979', '1972', '1981', '1978', '2000',
       '1989', '1975', '1974', '1986', '1990', '2018', '1977', '1982',
       '1980', '1993', '1984', '1985', '1988', '1987', '2005', '1991',
       '2002', '1994', '1992', '1995', '2017', '1997', '1996', '2006',
       '1999', '1998', '2007', '2008', '2003', '2004', '2010', '2009',
       '2011', '2013', '2012', '2016', '2015', '2014', '2019', '2020',
       'TV Movie 2019'], dtype=object)

In [54]:
df1[df1['Released_Year']=='TV Movie 2019']

,Series_Title,Released_Year,date_published,Genre,Runtime,country,avg_vote,No_of_Votes,production_company
83917,Bad Education,TV Movie 2019,TV Movie 2019,"Biography, Comedy, Crime",108,USA,7.1,23973,HBO Films

In [60]:
#replace 
df1['Released_Year']=df1['Released_Year'].replace('TV Movie 2019',2019)
df1['Released_Year'] = df1['Released_Year'].astype(int)

### Combining two dataframes
     We have already identified the common columns.

In [62]:
df_concated=pd.concat([df,df1],axis=0)

In [64]:
df_concated = df_concated[['Series_Title','Released_Year','Runtime','Genre','No_of_Votes']]

In [65]:
df_concated

,Series_Title,Released_Year,Runtime,Genre,No_of_Votes
0,The Shawshank Redemption,1994,142,Drama,2343110
1,The Godfather,1972,175,"Crime, Drama",1620367
2,The Dark Knight,2008,152,"Action, Crime, Drama",2303232
3,The Godfather: Part II,1974,202,"Crime, Drama",1129952
4,12 Angry Men,1957,96,"Crime, Drama",689845
...,...,...,...,...,...
85850,Le lion,2020,95,Comedy,398
85851,De Beentjes van Sint-Hildegard,2020,103,"Comedy, Drama",724
85852,Padmavyuhathile Abhimanyu,2019,130,Drama,265
85853,Sokagin Çocuklari,2019,98,"Drama, Family",194
85854,La vida sense la Sara Amat,2019,74,Drama,102

In [66]:
df_concated.shape
#df1 : (85855, 10)
#df : (1000, 16)

(86855, 5)

In [67]:
df_concated.duplicated().sum() #no duplicated rows

0

In [71]:
df_concated['Series_Title'].value_counts()
#to find the name of movies that are appearing more than once

Anna                                     10
Hamlet                                    8
Solo                                      8
Home                                      8
The Three Musketeers                      8
                                         ..
The Nesting                               1
Tehran 1500                               1
Megachurch Murder                         1
Little DJ: Chiisana koi no monogatari     1
Adão e Eva                                1
Name: Series_Title, Length: 80871, dtype: int64

In [75]:
df_concated[df_concated['Series_Title']=='Anna']

#Considering released year as 2015 for the movie named Anna in row 72160 and 72982 
#We can definately consider it as duplicate but the votes, runtime is different for both of them 
#We can confirm this by looking at this observation in df1 dataframe

,Series_Title,Released_Year,Runtime,Genre,No_of_Votes
6735,Anna,1951,107,"Drama, Romance",317
14812,Anna,1970,82,Drama,134
22998,Anna,1987,100,Drama,625
23711,Anna,1988,95,"Drama, Family, Music",185
37850,Anna,2000,86,Drama,142
61186,Anna,2013,99,"Drama, Mystery, Sci-Fi",21130
72160,Anna,2015,96,Drama,127
72982,Anna,2015,109,"Crime, Drama, Thriller",106
80540,Anna,2017,97,Horror,380
82586,Anna,2019,118,"Action, Thriller",55206

In [76]:
df1[df1['Series_Title']=='Anna'] 
#As we observed above even the production house and country is different for both of 
#these rows 72160 and 72982

,Series_Title,Released_Year,date_published,Genre,Runtime,country,avg_vote,No_of_Votes,production_company
6735,Anna,1951,20-12-1951,"Drama, Romance",107,"Italy, France",6.7,317,Carlo Ponti Cinematografica
14812,Anna,1970,23-10-1970,Drama,82,"Finland, Sweden",5.5,134,Stockholm Film
22998,Anna,1987,28-11-1987,Drama,100,USA,6.4,625,Magnus Films
23711,Anna,1988,20-10-1988,"Drama, Family, Music",95,West Germany,5.7,185,TV-60 Filmproduktion
37850,Anna,2000,10-11-2000,Drama,86,"Denmark, Sweden",4.8,142,Nordisk Film
61186,Anna,2013,24-01-2014,"Drama, Mystery, Sci-Fi",99,"Spain, USA, UK, France",6.5,21130,The Safran Company
72160,Anna,2015,05-07-2017,Drama,96,"France, Colombia",6.7,127,Noodles Production
72982,Anna,2015,31-05-2018,"Crime, Drama, Thriller",109,"Canada, Thailand",5.3,106,Go Films
80540,Anna,2017,01-03-2017,Horror,97,USA,2.3,380,MGI Films
82586,Anna,2019,21-06-2019,"Action, Thriller",118,"France, USA, Canada, Russia",6.6,55206,Summit Entertainment

### API for Reviews of the movies 
     https://developers.themoviedb.org/3/getting-started/introduction (TMDB)
     
     Get the names of the movies, years when they released and get the reviews and concatnate 
     all three.

In [ ]:
#process 1

In [91]:
import sys
import time
from bs4 import BeautifulSoup
import requests

In [133]:
try:
        
    page=requests.get('https://api.themoviedb.org/3/review/{review_id}?api_key=5e0a4c5575d4dbf13913a4c7f9de1c3d')
    
except Exception as e:                                   
    error_type, error_obj, error_info = sys.exc_info()   
    print ('ERROR FOR LINK:',url)                          
    print (error_type, 'Line:', error_info.tb_lineno)      
                                                 
time.sleep(2)   
soup=BeautifulSoup(page.text,'html.parser')
links=soup.find_all('div',attrs={'class':'teaser'})

In [134]:
links

[]

In [136]:
for i in links:
    print(i.text)
    print("\n")

In [ ]:
# process 2

In [131]:
API_KEY = "5e0a4c5575d4dbf13913a4c7f9de1c3d"
review_id = requests.get("https://api.themoviedb.org/3/review?") #this has problem maybe

REVIEW_ID=[]
for i in review_id:
    REVIEW_ID.append(i)
    
response_key_obj = requests.get("https://api.themoviedb.org/3/review?api_key={}".format(REVIEW_ID,API_KEY))
if response_key_obj.status_code == 200:
    curr_review = []
    review_dict = response_key_obj.json()   
    curr_review_content = review_dict['content']

In [132]:
response_key_obj.status_code #not a positive response

401